---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2023-Now",
    title: "Freelance",
    company: "Inventory Management System",
    description: "Built a full-stack app for inventory management with CRUD operations, low-stock alerts, and search features.Used React, Node.js, MongoDB, Express, and JWT for authentication.",
    link: "",
  },

  {
    date: "2023-Now",
    title: "Freelance ",
    company: "Expense Tracker System",
    description: "Developed a web app for expense tracking with dynamic charts and data persistence. Implemented React, Chart.js, and LocalStorage for functionality and visualization.",
    link: "",
  },

  // {
  //   date: "Septiembre 2022",
  //   title: "Principal Frontend Engineer",
  //   company: "Adevinta Spain",
  //   description:
  //     "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  // },
]
---

<ol class="relative m16">
  {
    EXPERIENCIE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>























