
---
import Css from "./icons/Css.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/react.astro"
import Html from "./icons/Html.astro"
import Javascript from "./icons/Javascript.astro"
import NodeJs from "./icons/NodeJs.astro"
import Typesctipt from "./icons/Typescript.astro"


const TAGS = {

    NEXT: {
        icon: NextJS,
        name: "Next.js",
        class: "text-white",
      },

    TAILWIND: {
      icon: Tailwind,
      class: "text-white",
      name: "Tailwind CSS",
    },
    REACT: {
      icon: React,
      class: "text-white",
      name: "React",
    },
    HTML: {
      icon: Html,
      class: "text-white",
      name: "Html",
    },
    JAVASCRIPT: {
      icon: Javascript,
      class: "text-white",
      name: "Javascript",
    },
    CSS: {
      icon: Css,
      class: "text-white",
      name: "Css",
    },
    NODEJS: {
      icon: NodeJs,
      class: "text-white",
      name: "Node.js",
    },
    TYPESCRIPT: {
      icon: Typesctipt,
      class: "text-white",
      name: "Typescript",
    },
  }






  const SKILLS = [


  {
    
    tags: [ TAGS.TAILWIND, TAGS.REACT, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.NODEJS, ],
  },

]



---

<div class="flex flex-col gap-y-16">
  {
    SKILLS.map(({  tags  }) => (
    <article class="flex flex-col space-x-0 space-y-8  md:space-x-8 md:space-y-0">
  <div class="w-full gap-4 md:w-1/2">
    
  </div>

  <div class="w-full md:w-1/2 gap-4 md:max-w-lg">
    
    <div class="flex flex-wrap gap-x-2 mt-2">
      <ul class="flex flex-row mb-2 gap-x-8">
          {tags.map((tag) => (
            <li>
              
                <tag.icon class="mb-2 h-12 w-auto gap-10 md:h-20 " /> 
                {tag.name}
              
            </li>
          ))}
        </ul>

    </div>
  </div>
</article>
    ))
  }
</div>







<!-- // <section id="skills" class="mt-8 pt-12">
//     <div class="flex items-center gap-3">
//         <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" viewBox="0 0 256 256">
//             <path d="M252,124a60.14,60.14,0,0,0-32-53.08,52,52,0,0,0-92-32.11A52,52,0,0,0,36,70.92a60,60,0,0,0,0,106.14,52,52,0,0,0,92,32.13,52,52,0,0,0,92-32.13A60.05,60.05,0,0,0,252,124ZM88,204a28,28,0,0,1-26.85-20.07c1,0,1.89.07,2.85.07h8a12,12,0,0,0,0-24H64A36,36,0,0,1,52,90.05a12,12,0,0,0,8-11.32V72a28,28,0,0,1,56,0v60.15a52.43,52.43,0,0,0-12.4-5.77,12,12,0,0,0-7.2,22.9A28,28,0,0,1,88,204Zm104-44h-8a12,12,0,0,0,0,24h8c1,0,1.9,0,2.85-.07a28,28,0,1,1-35.18-34.67,12,12,0,0,0-7.13-22.92A52,52,0,0,0,140,132.15V72a28,28,0,0,1,56,0v6.73a12,12,0,0,0,8,11.32,36,36,0,0,1-12,70Zm16-44a12,12,0,0,1-12,12,40,40,0,0,1-40-40V84a12,12,0,0,1,24,0v4a16,16,0,0,0,16,16A12,12,0,0,1,208,116ZM60,128a12,12,0,0,1,0-24A16,16,0,0,0,76,88V84a12,12,0,0,1,24,0v4A40,40,0,0,1,60,128Z"></path></svg>
//             <h2 class="font-RedHat text-3xl font-bold text-gray9 sm:text-5xl dark:text-white">Habilidades</h2></div>
//             <div class="mt-8 flex justify-evenly"><div class="flex flex-col items-center">
//                 <img class="mb-2 h-12 w-auto md:h-20" src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='2500'%20height='2500'%20viewBox='0%200%201052%201052'%3e%3cpath%20fill='%23f0db4f'%20d='M0%200h1052v1052H0z'/%3e%3cpath%20d='M965.9%20801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8%206.9-27.9%2040.2-36.6%2066.6-28.6%2017%205.7%2033.1%2018.801%2042.8%2039.7%2045.4-29.399%2045.3-29.2%2077-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3%201.3-20.699%202.699-31%204-29.699%207.5-58%2023.1-74.6%2044-49.8%2056.5-35.6%20155.399%2025%20196.1%2059.7%2044.8%20147.4%2055%20158.6%2096.9%2010.9%2051.3-37.699%2067.899-86%2062-35.6-7.4-55.399-25.5-76.8-58.4-39.399%2022.8-39.399%2022.8-79.899%2046.1%209.6%2021%2019.699%2030.5%2035.8%2048.7%2076.2%2077.3%20266.899%2073.5%20301.1-43.5%201.399-4.001%2010.6-30.801%203.199-72.101zm-394-317.6h-98.4c0%2085-.399%20169.4-.399%20254.4%200%2054.1%202.8%20103.7-6%20118.9-14.4%2029.899-51.7%2026.2-68.7%2020.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699%2016.3-53.3%2032.699-80%2049%2013.301%2027.3%2032.9%2051%2058%2066.399%2037.5%2022.5%2087.9%2029.4%20140.601%2017.3%2034.3-10%2063.899-30.699%2079.399-62.199%2022.4-41.3%2017.6-91.3%2017.4-146.6.5-90.2%200-180.4%200-270.9z'%20fill='%23323330'/%3e%3c/svg%3e" alt="JavaScript Icon"><span class="text-sm font-medium md:text-base dark:text-gray4">JavaScript</span></div><div class="flex flex-col items-center">
//                 <img class="mb-2 h-12 w-auto md:h-20" src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20452%20520'%3e%3cpath%20fill='%230c73b8'%20d='M41%20460L0%200h451l-41%20460-185%2052'/%3e%3cpath%20fill='%2330a9dc'%20d='M226%20472l149-41%2035-394H226'/%3e%3cpath%20fill='%23ecedee'%20d='M226%20208H94l5%2057h127zm0-114H84l5%2056h137zm0%20261l-124-33%207%2060%20117%2032z'/%3e%3cpath%20fill='%23fff'%20d='M226%20265h69l-7%2073-62%2017v59l115-32%2026-288H226v56h80l-6%2058h-74z'/%3e%3c/svg%3e" alt="CSS Icon"><span class="text-sm font-medium md:text-base dark:text-gray4">CSS</span></div><div class="flex flex-col items-center"><img class="mb-2 h-12 w-auto md:h-20" src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20452%20520'%3e%3cpath%20fill='%23e34f26'%20d='M41%20460L0%200h451l-41%20460-185%2052'%20/%3e%3cpath%20fill='%23ef652a'%20d='M226%20472l149-41%2035-394H226'%20/%3e%3cpath%20fill='%23ecedee'%20d='M226%20208h-75l-5-58h80V94H84l15%20171h127zm0%20147l-64-17-4-45h-56l7%2089%20117%2032z'/%3e%3cpath%20fill='%23fff'%20d='M226%20265h69l-7%2073-62%2017v59l115-32%2016-174H226zm0-171v56h136l5-56z'/%3e%3c/svg%3e" alt="HTML Icon"><span class="text-sm font-medium md:text-base dark:text-gray4">HTML</span></div><div class="flex flex-col items-center">
//                 <img class="mb-2 h-12 w-auto md:h-20" src="data:image/svg+xml,%3csvg%20viewBox='0%200%20256%20228'%20width='256'%20height='228'%20xmlns='http://www.w3.org/2000/svg'%20preserveAspectRatio='xMidYMid'%3e%3cpath%20d='M210.483%2073.824a171.49%20171.49%200%200%200-8.24-2.597c.465-1.9.893-3.777%201.273-5.621%206.238-30.281%202.16-54.676-11.769-62.708-13.355-7.7-35.196.329-57.254%2019.526a171.23%20171.23%200%200%200-6.375%205.848%20155.866%20155.866%200%200%200-4.241-3.917C100.759%203.829%2077.587-4.822%2063.673%203.233%2050.33%2010.957%2046.379%2033.89%2051.995%2062.588a170.974%20170.974%200%200%200%201.892%208.48c-3.28.932-6.445%201.924-9.474%202.98C17.309%2083.498%200%2098.307%200%20113.668c0%2015.865%2018.582%2031.778%2046.812%2041.427a145.52%20145.52%200%200%200%206.921%202.165%20167.467%20167.467%200%200%200-2.01%209.138c-5.354%2028.2-1.173%2050.591%2012.134%2058.266%2013.744%207.926%2036.812-.22%2059.273-19.855a145.567%20145.567%200%200%200%205.342-4.923%20168.064%20168.064%200%200%200%206.92%206.314c21.758%2018.722%2043.246%2026.282%2056.54%2018.586%2013.731-7.949%2018.194-32.003%2012.4-61.268a145.016%20145.016%200%200%200-1.535-6.842c1.62-.48%203.21-.974%204.76-1.488%2029.348-9.723%2048.443-25.443%2048.443-41.52%200-15.417-17.868-30.326-45.517-39.844Zm-6.365%2070.984c-1.4.463-2.836.91-4.3%201.345-3.24-10.257-7.612-21.163-12.963-32.432%205.106-11%209.31-21.767%2012.459-31.957%202.619.758%205.16%201.557%207.61%202.4%2023.69%208.156%2038.14%2020.213%2038.14%2029.504%200%209.896-15.606%2022.743-40.946%2031.14Zm-10.514%2020.834c2.562%2012.94%202.927%2024.64%201.23%2033.787-1.524%208.219-4.59%2013.698-8.382%2015.893-8.067%204.67-25.32-1.4-43.927-17.412a156.726%20156.726%200%200%201-6.437-5.87c7.214-7.889%2014.423-17.06%2021.459-27.246%2012.376-1.098%2024.068-2.894%2034.671-5.345.522%202.107.986%204.173%201.386%206.193ZM87.276%20214.515c-7.882%202.783-14.16%202.863-17.955.675-8.075-4.657-11.432-22.636-6.853-46.752a156.923%20156.923%200%200%201%201.869-8.499c10.486%202.32%2022.093%203.988%2034.498%204.994%207.084%209.967%2014.501%2019.128%2021.976%2027.15a134.668%20134.668%200%200%201-4.877%204.492c-9.933%208.682-19.886%2014.842-28.658%2017.94ZM50.35%20144.747c-12.483-4.267-22.792-9.812-29.858-15.863-6.35-5.437-9.555-10.836-9.555-15.216%200-9.322%2013.897-21.212%2037.076-29.293%202.813-.98%205.757-1.905%208.812-2.773%203.204%2010.42%207.406%2021.315%2012.477%2032.332-5.137%2011.18-9.399%2022.249-12.634%2032.792a134.718%20134.718%200%200%201-6.318-1.979Zm12.378-84.26c-4.811-24.587-1.616-43.134%206.425-47.789%208.564-4.958%2027.502%202.111%2047.463%2019.835a144.318%20144.318%200%200%201%203.841%203.545c-7.438%207.987-14.787%2017.08-21.808%2026.988-12.04%201.116-23.565%202.908-34.161%205.309a160.342%20160.342%200%200%201-1.76-7.887Zm110.427%2027.268a347.8%20347.8%200%200%200-7.785-12.803c8.168%201.033%2015.994%202.404%2023.343%204.08-2.206%207.072-4.956%2014.465-8.193%2022.045a381.151%20381.151%200%200%200-7.365-13.322Zm-45.032-43.861c5.044%205.465%2010.096%2011.566%2015.065%2018.186a322.04%20322.04%200%200%200-30.257-.006c4.974-6.559%2010.069-12.652%2015.192-18.18ZM82.802%2087.83a323.167%20323.167%200%200%200-7.227%2013.238c-3.184-7.553-5.909-14.98-8.134-22.152%207.304-1.634%2015.093-2.97%2023.209-3.984a321.524%20321.524%200%200%200-7.848%2012.897Zm8.081%2065.352c-8.385-.936-16.291-2.203-23.593-3.793%202.26-7.3%205.045-14.885%208.298-22.6a321.187%20321.187%200%200%200%207.257%2013.246c2.594%204.48%205.28%208.868%208.038%2013.147Zm37.542%2031.03c-5.184-5.592-10.354-11.779-15.403-18.433%204.902.192%209.899.29%2014.978.29%205.218%200%2010.376-.117%2015.453-.343-4.985%206.774-10.018%2012.97-15.028%2018.486Zm52.198-57.817c3.422%207.8%206.306%2015.345%208.596%2022.52-7.422%201.694-15.436%203.058-23.88%204.071a382.417%20382.417%200%200%200%207.859-13.026%20347.403%20347.403%200%200%200%207.425-13.565Zm-16.898%208.101a358.557%20358.557%200%200%201-12.281%2019.815%20329.4%20329.4%200%200%201-23.444.823c-7.967%200-15.716-.248-23.178-.732a310.202%20310.202%200%200%201-12.513-19.846h.001a307.41%20307.41%200%200%201-10.923-20.627%20310.278%20310.278%200%200%201%2010.89-20.637l-.001.001a307.318%20307.318%200%200%201%2012.413-19.761c7.613-.576%2015.42-.876%2023.31-.876H128c7.926%200%2015.743.303%2023.354.883a329.357%20329.357%200%200%201%2012.335%2019.695%20358.489%20358.489%200%200%201%2011.036%2020.54%20329.472%20329.472%200%200%201-11%2020.722Zm22.56-122.124c8.572%204.944%2011.906%2024.881%206.52%2051.026-.344%201.668-.73%203.367-1.15%205.09-10.622-2.452-22.155-4.275-34.23-5.408-7.034-10.017-14.323-19.124-21.64-27.008a160.789%20160.789%200%200%201%205.888-5.4c18.9-16.447%2036.564-22.941%2044.612-18.3ZM128%2090.808c12.625%200%2022.86%2010.235%2022.86%2022.86s-10.235%2022.86-22.86%2022.86-22.86-10.235-22.86-22.86%2010.235-22.86%2022.86-22.86Z'%20fill='%2300D8FF'/%3e%3c/svg%3e" alt="React Icon"><span class="text-sm font-medium md:text-base dark:text-gray4">React</span>
                
                
//                 export <section></section>
//                 </div> 
 -->
