---


import Css from "./icons/Css.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/react.astro"
import Html from "./icons/Html.astro"
import Javascript from "./icons/Javascript.astro"
import NodeJs from "./icons/NodeJs.astro"
import Typesctipt from "./icons/Typescript.astro"



const TAGS = {

    NEXT: {
        icon: NextJS,
        name: "Next.js",
        class: "text-white",
      },

    TAILWIND: {
      icon: Tailwind,
      class: "text-white",
      name: "Tailwind CSS",
    },
    REACT: {
      icon: React,
      class: "text-white",
      name: "React",
    },
    HTML: {
      icon: Html,
      class: "text-white",
      name: "Html",
    },
    JAVASCRIPT: {
      icon: Javascript,
      class: "text-white",
      name: "Javascript",
    },
    CSS: {
      icon: Css,
      class: "text-white",
      name: "Css",
    },
    NODEJS: {
      icon: NodeJs,
      class: "text-white",
      name: "Node.js",
    },
    TYPESCRIPT: {
      icon: Typesctipt,
      class: "text-white",
      name: "Typescript",
    },
  }

const NEWSKILLS = [
  
{
  tags: [ TAGS.NEXT,  TAGS.TYPESCRIPT],
}
]



---

<div class="flex flex-col gap-y-16">
  {
    NEWSKILLS.map(({  tags  }) => (
    <article class="flex flex-col space-x-0 space-y-8 md:space-x-8 md:space-y-0">
  <div class="w-full gap-4 md:w-1/2">
    
  </div>

  <div class="w-full md:w-1/2 gap-4 md:max-w-lg">
    
    <div class="flex flex-wrap gap-x-2 mt-2">
      <ul class="flex flex-row mb-2 gap-x-8">
          {tags.map((tag) => (
            <li class="flex flex-col items-center text-center">
              
                <tag.icon class="mb-2 h-12 w-auto md:h-20 " /> 
                <span class="text-sm mt-1">{tag.name}</span>
              
            </li>
          ))}
        </ul>

    </div>
  </div>
</article>
    ))
  }
</div>

